html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}


.nav1{
    top:0;
    margin: 0;
    padding:0;
    height: 25px;
    line-height:25px;
    background-color: rgba(39, 174, 96,1.0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
    z-index: 100;
    position: fixed;

}

.nav2 ul > li{
    margin: 0 5% 0 0;
    /*padding: 0 0 3px 3px;*/
}

.meni1 {
    display:inline;
    list-style-type: none;
    /*margin: 1% 0 0 0;*/
    padding: 0;
    overflow: hidden;

}

ul.meni1 li:first-child{
    padding-left:30px;
}
ul.meni1 li:last-child{
    padding-right:0px !important;
    margin-right: 10px;

}

ul.meni1 li {
    float: left;
    /*border-right: 1px dotted black;*/
    padding-right:45px;

}

ul.meni1 li.desno {float: right;}

ul.meni1 li.jezik {
    width: 100px;
}

ul.meni1 li a {
    color: white;
    text-align: center;
    /*padding: 3px 5px;*/
    text-decoration: none;
    /*margin: 0 0 10px 10px;*/
}

.nav2{
    margin: 25px 0 0 0 ;
    padding:0;
    height: 60px;
    line-height:60px;
    background-color: rgba(52, 152, 219,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    z-index: 999;
    position: fixed;
    transition: 0.3s;
}

ul.meni2 li.icon {display: none;}


.nav2Scroll{
    background-color: rgba(100, 100, 100, 0.9);
}

#slajderDiv .natpis{
    left:45%;
    width: 500px;
    height: 200px;
    top: 70%;
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0) );
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13pt;
    padding: 25px;
    font-weight: lighter;
    /*letter-spacing: 1px;*/
    text-align: justify;
    overflow:hidden;
    vertical-align: center;
}

#slajderDiv .natpis:hover{
    overflow-y: scroll;
    /*padding-right: 16px;*/
}

/* Let's get this party started */
::-webkit-scrollbar{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(64, 169, 206, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(64, 169, 206, 0.8);
}

#logo{
    /*position: fixed;*/
    /*margin: 0;*/

}
.logo img {
    /*top:4.4%;*/
    top: 26px;
    width: 80px;
    height: 80px;
    display: block;
    background-color: white;
    border-radius: 100%;
    position: fixed;
    /*box-shadow: 1px 5px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);*/
    box-shadow: 0 7px 69px 6px rgba(0,0,0,0.43);
    /*left: 48.7%;*/
    left: 49%;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    z-index: 999;
}
.logoSmanji {
    top: 25px;
    width: 60px !important;
    height: 60px !important;
}

.logo img:hover {
    width: 100px;
    height:100px;
    box-shadow: 0 7px 69px 6px rgba(0,0,0,0.63);
}

.logoSmanji:hover{
    width: 80px;
    height:80px;
    box-shadow: 0 7px 69px 6px rgba(0,0,0,0.63);
}

#slajderDiv{
    margin: 0;
    padding:0;
    height: 900px;
    /*line-height:60px;*/
    background-image: url("../img/selo2.jpg");
    background-size: 100% 100%;
    /*z-index: 0;*/
}

#leviSlider{
    left:0;
}
#desniSlajder{
    right: 0;
}


.pokazivac{
    width: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    line-height: 850px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

#slajderDiv #slajder{
    max-height: 600px;
    max-width: 1024px;
}
#leviSlider.pokazivac:hover {
    color: white;
    font-size: 50px;
}
#desniSlajder.pokazivac:hover {
    color: white;
    font-size: 50px;

}


/* МЕНИ 2 */

ul .meni2 {
    display:inline;
    list-style-type: none;
    /*margin: 1% 0 0 0;*/
    padding: 0;
    overflow: hidden;
    margin: 0;
}

ul.meni2 li:first-child{
    padding-left:30px;
}
ul.meni2 li:nth-last-child(2){
    margin-right: 50px;

}

ul.meni2 li {
    float: left;
    /*border-right: 1px dotted black;*/

}

ul.meni2 li.desno {float: right;}

ul.meni2 li a {
    color: rgba(255, 172, 56, 0.6) !important;
    text-align: center;
    /*padding: 3px 5px; */
    text-decoration: none;
    text-shadow: 0px 0px 6px rgba(11, 11, 11,0.65);
    transition: 0.3s;
    /*display: inline-block;*/
    color: #f2f2f2;
    /*padding: 14px 16px;*/
    font-size: 17px;
}

ul.meni2 li.icon {display: none;}


ul.meni2 li a:hover, ul.meni2 li a:visited{
    border: 1px rgba(255, 121, 52, 0.75) solid;
    border-radius: 5px;
    padding: 10px;
}

.hidden{
    visibility:hidden;
    display:none;
}

@font-face {
    font-family: Oranienbaum;
    src: url("../fonts/Humblle Rought Caps.otf");
}
#izdvajamoNaslov{
    /*background-color: #00FA9A;*/
    background-color: #89C443;
    height: 350px;
    /*border: 1px solid gray;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 10px;
    font-family: "NK174";
    /*font-family: "NK333";*/
    box-shadow: 0 5px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

#izdvajamo span.inicijal{
    font-size:3em;
    font-style:italic;
    padding: 0 15px 0 15px;
    font-family: "NK174";

}

#izdvajamoSadrzaj{
    margin-top:100px;
    height: 600px;
    /*position: absolute;*/
    /*padding-left: 230px;*/
    padding-left: 15%;
    z-index: -1;
    margin-bottom: 20%;

}

.artikal{
    box-shadow: 5px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    height: 360px;
    padding: 10px 0 10px 0;
    margin: 40px;
    display: inline;
    width: 260px;
    transition-duration: 0.3s;
    z-index: -1;
    overflow: hidden;

    /*background: rgba(255,255,255,1);*/
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.46) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.75)), color-stop(100%, rgba(237,237,237,0.46)));*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.46) 100%);*/
    /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.46) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.46) 100%);*/
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.46) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
}


.tekstArtikal{
    font-size: 11pt;
    text-align: center ;
    font-style: italic;
    margin-top:10px;
    color: rgba(84, 57, 19, 0.72);

}

.sloj{

    /*background: -webkit-linear-gradient(#333, #eee);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*opacity: 0.4;*/
    /*z-index: -1;*/
}

.tekstArtikal a{
    text-decoration: none;
    color: rgba(255, 51, 58, 1);
}
.naslovArtikal{
    color: rgba(255, 51, 58, 0.75);
    font-size: 1.2em;
}

.artikal hr{
    border: 1px dashed rgba(164, 110, 38, 0.57);
    width: 50%;
}

.artikal:hover{
    -webkit-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.58);
    border-radius: 7px;
}

.vise:hover{

    text-decoration: underline;
}

#galerija{

    /*position: absolute;*/
    /*margin: 0;*/
}

#galerijaNaslov{
    /*background-color: #00FA9A;*/
    background-color: #FFB347;
    height: 350px;
    /*border: 1px solid gray;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 10px;
    font-family: "NK174";
    /*font-family: "NK333";*/
    box-shadow: 0 5px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*margin-top: 10%;*/

}

#galerija span.inicijal{
    font-size:3em;
    font-style:italic;
    padding: 0 15px 0 15px;
    font-family: "NK174";

}

#galerijaSadrzaj{
    margin-top: 15%;
    margin-bottom: 5%;
    height: 600px;
    position: relative;
    /*padding-left: 230px;*/
    /*padding-left: 5%;*/
    z-index: -1;
    padding:5%;

}

/*Галерија индекс*/

.slikaGalerija {


}
.slikaGalerija img{
    /*!*background-size: 100% 100%;*!*/
    background-size: 200px 200px;
    transition: all .2s ease-in-out;

}


.galerijaNaziv{
    font-size: 15pt;
    font-style: italic;
    color: rgba(203, 96, 40, 0.72);
    width: 200px;
}

.linija{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));

}

.card {
    margin: 0 auto 2rem;
    padding: 1rem;
    min-width: 10rem;
    max-width: 25rem;
    background-color: white;
    word-wrap: break-word;
    /*box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.29), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.41), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.47);
    z-index: -1;
}
.card.card-primary, .card.card-dark {
    color: white;
}
.card.card-primary {
    background-color: tomato;
    text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f25e43, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5593f, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card.card-secondary {
    background-color: #47e3ff;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #43d7f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #3fcce5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card.card-dark {
    background-color: #404040;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #3c3c3c, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #393939, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card > :last-child {
    margin-bottom: 0;
}


#futer{
    bottom: 0;
    position: relative;
    margin:auto;
    height: 400px;
    background-color: rgba(39, 174, 96,1.0);
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -3px 3px #BCBCBC;
}
#social{
    top: 0;
    position: absolute;
    margin:0;
    padding: 0;
    height: 60px;
    background-color: rgba(19, 114, 56,1.0);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.54);
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 19pt;
    letter-spacing: 1px;
    line-height: 60px;
    z-index: 0;
}

#social .social_ico  {
    color:white;
    z-index: 999;
    /*transition-duration: 0.5s;*/
    /*-webkit-transition-duration: 0.5s;*/
    /*transition-timing-function: linear;*/
}

@keyframes proba {
    from {
            background-color: rgba(19, 114, 56,1.0);
            font-size: 19pt;
    }
    to {
        background-color: rgb(33, 171, 76);
        /*font-size: 30pt;*/
        border-radius: 100%;
    }
}


#social .social_ico:hover{

    background-color: rgb(33, 171, 76);
    /*font-size: 30pt;*/
    border-radius: 100px;
    /*animation-name: proba;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease ;*/
    /*animation-direction: revert;*/
    /*animation-delay: 0.1s;*/

}

#social .social_ico a {
    color: white;
    text-decoration: none;
}

#social > div{
    float:right;
    padding-right: 20px;
    padding-left: 20px;
}
#pratiteNas{
    margin: 0;
    position: absolute;
    letter-spacing: 2pt;
    font-style: italic;
}

#futer1{
    padding: 40px 40px 40px 40px;
}

#futer1 section{
    margin-top: 80px;
    padding-left: 100px;
    float:left;

}
#futer1 section ul li {
    padding: 8px;
    font-size: 12pt;
}

#futer1 section ul li a{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
#futer1 section ul li a:hover{
    color: rgba(255, 255, 255, 0.49);
    font-size: 1.08em;
}


#futer2{
    bottom: 0;
    position: absolute;
    margin:0;
    padding: 0;
    height: 50px;
    background-color: rgba(19, 114, 56,1.0);
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.54);
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 11pt;
    letter-spacing: 1px;
    line-height: 50px;

}


#futer1 section{
    display:inline;
    float:left;
}

