.o_nama .naslov{
    background-image:url('https://static.pexels.com/photos/9056/pexels-photo.jpg') ;
    background-size: 100%;
    height: 300px;
    font-size: 3em;
    font-style: italic;
    font-family: "Tsarevich old";
    letter-spacing: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.42), 0 3px 2px rgba(0,0,0,0.24);
}

div.tekst {
    left: 8%;
    text-align: justify;
    margin-top: 100px;
    margin-left: 150px;
    /*margin-right: 100px;*/
    font-size: 14pt;
    letter-spacing: 0;
    word-spacing: 2px;
    line-height: 1.3;
    font-family: "Palatino Linotype";
    color: #333333;
    width: 80%;
}

#slicica img.slicica{
    width: 300px;
    height: 100px;
    position: relative;
    left: 40%;
    margin-bottom: 10%;
    margin-top: 5%;

}

 .tekst #prvo{
    color: #c90000;
    font-size:300%;
     font-style: italic;
}